<!DOCTYPE html>



<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
          $( function() {
            $( "#datepicker" ).datepicker();
          } );
          </script>
        <title>Web app - {% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <div>
            <ul>
                <a href="{% url 'index' %}"><li>Index</li></a>
            </ul>
        </div>
        <hr />
        <div>
            {% block body_block %}{% endblock %}
        <div>
        
        
    </body>
</html>